<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<real>40.012243</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>41.032243</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.012243</real>
		<key>longitude</key>
		<real>116.474343</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.212253</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.552243</real>
		<key>longitude</key>
		<real>116.374143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.112243</real>
		<key>longitude</key>
		<real>116.574143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>42.032243</real>
		<key>longitude</key>
		<real>116.434143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.912243</real>
		<key>longitude</key>
		<real>116.474345</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.012345</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.012243</real>
		<key>longitude</key>
		<real>117.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.936243</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>39.212243</real>
		<key>longitude</key>
		<real>115.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>39.212243</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.012443</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.034243</real>
		<key>longitude</key>
		<real>116.574143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>39.121243</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.012243</real>
		<key>longitude</key>
		<real>117.374143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>45.63545</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.012243</real>
		<key>longitude</key>
		<real>115.374143</real>
	</dict>
	<dict>
		<key>latitude</key>
		<real>41.0123543</real>
		<key>longitude</key>
		<real>116.474143</real>
	</dict>
</array>
</plist>
